.sdf {
    h1, h2, a {
        color: $naturaGreen;
    }
    h1 {
        font-size: 2rem;
    }
    .message {
        width: 100%;
    }
}

.sdf-download {
    .ui.button {
        display: block;
        margin-left: auto;
    }
}

.sdf-general {
    width: 100%;
    display: flex;
    color: $text;
    .sdf-head {
        display: flex;
        gap: 2rem;
        align-items: start;
        h1 {
            margin-bottom: 0;
            .sensitive {
                color: $messageError;
            }
        }
        b {
            color: $naturaBlue;
            font-size: 1.5rem;
            margin-top: 0.25rem;
        }
        .logo {
            width: 8rem;
            min-width: 8rem;
        }
    }
    .select--right {
        width: auto;
        margin-left: auto;
        .ui.dropdown {
            &.loading {
                .dropdown.icon {
                    position: sticky !important;
                }
            }
            .text {
                line-height: normal;
            }
        }
    }
}

.sdf-index {
    ol {
        width: fit-content;
        padding-inline-start: 1rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        color: $naturaBlue;
    }
}

.sdf-row {
    margin-bottom: 1rem;
    &-title {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &-field {
        border: solid 1px $grey-2;
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        ~.sdf-row-field {
            margin-top: 0.5rem;
        }
        p:last-of-type {
            margin-bottom: 0;
        }
        .ui.table {
            margin-bottom: 0;
            overflow: auto;
            tr:last-of-type td {
                border-bottom: none;
            }
            th, td {
                border-color: $grey-2;
                font-size: 1rem;
            }
        }
        .sdf-link {
            word-break: break-all;
        }
        .ui.checkbox {
            margin-bottom: 0.5rem;
            pointer-events: none;
            label {
                color: inherit;
                font-size: 1rem;
                cursor: auto;
                &::after, &::before {
                    border-color: $naturaGreen;
                }
                
            }
            input:checked ~ label {
                &:after {
                    background-color: $naturaGreen;
                    border-color: $naturaGreen;
                }
                &:before {
                    border-color: $naturaGreen;
                }
            }
        }
    }
}

.sdf-map {
    #mapDiv {
        height: 400px !important;
        .esri-attribution {
            display: none;
        }
        .esri-widget--button {
            color: $naturaBlue;
        }
    }
}

.sdf-scroll {
    display: inline-block;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1;
    button {
        padding: 0.425rem 0.5rem !important;
        margin: 0 !important;
        i {
            font-size: 2rem;
            line-height: 2rem;
        }
    }
}

@media print {
    * {
        print-color-adjust: exact;
        font-size: 0.85rem;
        font-family: "Roboto";
    }
    body {
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
    .container--main {
        width: 100%;
    }
    .select--right, .sdf-download, .sdf-scroll, .esri-zoom {
        display: none !important;
    }
    .sdf-map {
        height: 200px;
        #mapDiv canvas {
            object-fit: cover;
            max-height: auto;
            max-width: 100%;
            height: 400px !important;
            width: auto !important;
        }
    }
}
