.search {
    &.ui.form {
        .field > label {
            font-size: 1rem;
            font-weight: bold;
        }
        .ui.checkbox {
            margin-bottom: 0;
        }
        .ui.grid {
            margin-top: 0;
            margin-bottom: 0;
        }
        .ui.input input {
            padding-left: 1.125rem;
        }
        .ui.dropdown {
            &.loading {
                .dropdown.icon {
                    position: sticky;
                }
            }
        }
    }
    &-list {
        .ui.grid > .column {
            padding: 0.5rem;
        }
    }
    &-results {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-top: 0.25rem;
        .legend-sensitive {
            display: flex;
            align-items: end;
            gap: 0.25rem;
            color: $messageError;
            i {
                color: $messageError;
            }
        }
    }
    &-counter {
        font-size: 1.25rem;
        font-weight: bold;
        align-self: flex-end;
    }
}

.noresults {
    margin: 2rem auto;
}

@media only screen and (max-width: 768px) {
    .search-results {
        flex-direction: column;
        gap: 0.5rem;
        .search-counter {
            align-self: flex-start;
        }
    }
}
